.top-bar {
    height: 2.5rem;
    background-color: #721B2E;
}

.navbar-ehj {
    background-color: #FFFBF2;
}

img.logo {
    width: 50px;
    border-radius: 600px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #721B2E;
    border-bottom: 3px solid #721B2E;
}

.navbar-nav .nav-item .nav-link.active {
    color: #721B2E;
    border-bottom: 3px solid #721B2E;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link {
    color: #721B2E;
    font-size: 0.8em;
    margin: 0px 5px;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-menu {
    background-color: #ffeec9 !important;
}

a.dropdown-item {
    margin: 0px 0px !important;
    font-size: 0.8em;
}

a.dropdown-item.active {
    background-color: #721b2e !important;
    color: #fff;
}

a.dropdown-item:active {
    background-color: #721b2e !important;
    color: #fff;
}

a.dropdown-item:hover {
    border-right: 3px solid #721B2E;
    border-left: 3px solid #721B2E;
}

span.logo-text {
    font-size: 15px;
    font-family: Pacifico;
    color: #721B2E;
    padding: 5px;
}